@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

#container {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  height: 100vw;
}

#quote-box {
  /* position:absolute; */
  padding: 2% 
  /* border: solid 0.2vw gray; */
  /* width: 50%; */
}