@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

#container {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  height: 100vw;
}

#quote-box {
  padding: 3%;
  text-align: justify;
  margin: auto;
  width: 50%;
}

#spacer {
  height: 10vw
}

#author {
  text-align: right;
}